.header {
  background-color: var(--header-divider);
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  height: 80px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1200px;
  width: 100%;
  min-height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  display: flex;
  list-style: none;
}

.item {
  padding: 0 15px;
  position: relative;
}

.item + .item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 16px;
  background-color:  var(--header-pill-bg);
}

.link {
  color: var(--text-color);;
  text-decoration: none;
}

.link:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.activeLink {
  padding: 5px 10px;
  background-color: var(--header-pill-bg);
  border-radius: 15px;
}