.movieCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  position: relative;
}

.posterWrapper {
  overflow: hidden;
  position: relative;
  border-radius: 16px;
}

.ratingBadge {
  position: absolute;
  right: 10px;
  bottom: 10px;

  min-width: 32px;
  padding: 4px 8px;
  border-radius: 999px;

  font-size: 12px;
  font-weight: 500;
  text-align: center;

  color: white;
}

.ratingGood {
  background-color: #21d07a;
}

.ratingMedium {
  background-color: #f1c40f;
}

.ratingBad {
  background-color: #e74c3c;
}

.ratingDetails {
  position: static;
  padding: 6px 10px;
  font-size: 14px;
}

.moviePoster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.15s ease;
}

/* hover только для карточек */
.posterCard:hover {
  transform: scale(1.08);
}

/* details — без hover */
.posterDetails {
  width: auto;
  max-width: 300px;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movieTitle {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 4px;
}

.movieDetails {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.movieCard:hover .movieDetails {
  opacity: 1;
}

.movieDetailsVisible {
  opacity: 1 !important;
}

.iconButton {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #ffe680;

  position: relative;
}

.tooltip {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  margin-top: 6px;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 11px;
  white-space: nowrap;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease;
}
.iconButton:hover {
  background-color: rgb(0, 139, 139, 0.8);
}
.iconButton:hover .tooltip {
  opacity: 1;
}

.icon {
  width: 20px;
  height: 20px;
}

.iconButton:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px rgba(255, 230, 128  );
}
