.tabs {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 30px;
}

.tab {
  padding: 8px 16px;
  border-radius: 999px;
  border: 1px solid var(--header-pill-bg);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.tab:hover {
  background-color:  var(--header-pill-bg);
  color: var(--accent-color);
  cursor: pointer;
}

.activeLink {
  background-color: var(--accent-color);
  color: white;
}