.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  flex: 1;
  max-width: 1200px;
  width: 100%;
  min-height: 100%;
  /*padding: 20px 15px 80px;*/
  margin: 0 auto;
}