.page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-block: 24px;
}

.content {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
  gap: 24px;
}

.skeleton {
  display: flex;
}

