*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;

  /* базовые */
  --bg-color: #f5f5f5;
  --text-color: #111;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-600: #656565;
  --color-gray-700: #374151;
  --accent-color: #008B8BFF;

  /* header */
  --header-bg: #f5f5f5;
  --header-divider: #e6e5e5;
  --header-pill-bg: #dcd8d8;

  /* кнопка переключения темы */
  --theme-btn-bg: #ffffff;
  --theme-btn-border: #d0d0d0;

  --color-control-background: #f9f9f9;
}

:root[data-theme='dark'] {
  --bg-color: #050b16;
  --text-color: #f5f5f5;
  --color-gray-100: #141c2c;
  --color-gray-200: #1f2b40;
  --color-gray-600: #94a3b8;
  --color-gray-700: #cbd5f5;
  --accent-color: #008B8BFF;

  --header-divider: #1d2840;
  --header-bg: #050b16;
  --header-pill-bg: #3c4b6c;

  --theme-btn-bg: #111a2b;

  --color-control-background: #1f2b40;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
