.posterCol {
  /*width: 100%;*/
  max-width: 320px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text {
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
  color: var(--color-gray-700);
}
